body{
    background-size: 600px 550px;
    padding-top: 30px;
    padding-bottom: 100px;
}
.card{
    box-shadow: 3px 6px 8px 3px rgba(100, 100, 100, 0.3);
    height: 100%;
}
iframe{
    width: 100%;
    height: 350px;
}
h1{
    text-align: center;
    color: white;
    background-color:rgba(54, 54, 54, 0.627);
    border-radius: 50px;
    font-family: 'Asul', sans-serif;
}
h2{
    text-align: center;
    font-family: 'Asul', sans-serif;
    font-size: 40px;
}
textarea.form-control{
    height: 60px;
    resize: none;
}
button.btn.btn-primary:active{
    position: relative;
    left: 1px;
    top: 1px;
    box-shadow: 2px 5px 7px 2px rgba(87, 87, 87, 0.527);
    transition: 0.5s;
}
button.btn.btn-primary{
    box-shadow: 3px 6px 8px 3px rgba(100, 100, 100, 0.3);
    transition: 0.5s;
    font-family: 'Asul', sans-serif;
    margin-top: 18px;
}

input{
    margin-bottom: 15px;
}
li{
    margin-bottom: 15px;
}
legend{
    margin-bottom: 18px;
}