body{
    background-size: 600px 550px;
    padding-top: 30px;
    padding-bottom: 100px;
    overflow: overlay;
    padding-right: 1%;
}
.card{
    box-shadow: 3px 6px 8px 3px rgba(0, 0, 0, 0.707);
    height: 100%;
}
iframe{
    width: 100%;
    height: 350px;
    transition: 0.5s;
}
iframe:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.mapa{
    overflow: hidden;
}
h1{
    text-align: center;
    color: white;
    background: radial-gradient(circle, rgba(38, 27, 75, 0.692) 0%, rgba(0, 0, 0, 0.707) 90%);
    border-radius: 50px;
    font-family: 'Asul', sans-serif;
    font-size: max(30px, 3.2vw);
    width: max(350px, 70vw);
    margin-left: auto;
    margin-right: auto;
}
h2{
    text-align: center;
    font-family: 'Asul', sans-serif;
    font-size: max(27px, 3vw);
    margin-bottom: 25px;
}
textarea.form-control{
    height: 60px;
    resize: none;
}
button.btn:active{
    position: relative;
    left: 1px;
    top: 1px;
    box-shadow: 2px 5px 7px 2px rgba(87, 87, 87, 0.527);
    transition: 0.5s;
}
button.btn {
    box-shadow: 3px 6px 8px 3px rgba(100, 100, 100, 0.3);
    transition: 0.5s;
    font-family: 'Asul', sans-serif;
    margin-bottom: -15px;
}

li{
    margin-bottom: 15px;
    transition: 0.3s;
}
li:hover{
    transform: scale(1.1);
    margin-left: 25px;
    transition: 0.3s;
    cursor: pointer;
}
legend{
    margin-bottom: 18px;
}

form, .alert{
    margin-bottom: 0;
}
.introducao{
    color: white;
    width:max(205px, 26vw);
    background: radial-gradient(circle, rgba(38, 27, 75, 0.692) 0%, rgba(0, 0, 0, 0.707) 90%);
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-top: -20px;
    font-size: max(8px, 1vw);
    
}
.mensagem-alerta{
    margin-top: 25px;
}
p.botao.btn-group  {
   margin: 2px;
    width: max(330px, 60vw);
    height: min(120x, 5vw);
    font-size:60px;
}
ul.pagamento{
    padding: 0%;
}
a.nav-link{
    color: rgb(195, 195, 195);
    font-size: min(25px, 3.5vw);
    transition: 0.3s;
}
a.nav-link.active{
    color: rgb(255, 255, 255) !important;
    font-size: min(29px, 3.8vw);
}
a.nav-link:hover{
    color: white;
    /* transform: scale(1.2); */
    transition: 0.3s;
    
}

::-webkit-scrollbar{
    width: 18px;
    background: transparent;
    background-image: url(/img/2.png);
}

/* ::-webkit-scrollbar-track{
   background-image:url(/img/2.png);
   background: radial-gradient(circle, rgb(63, 63, 63) 0%, rgb(88, 88, 88) 100%);
   
} */
::-webkit-scrollbar-thumb{
    border-radius: 70px;
    background: radial-gradient(circle, rgba(38, 27, 75, 0.692) 0%, rgba(0, 0, 0, 0.707) 90%);
}

nav a{
    position: relative;
}

nav a::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

nav a:hover::after{
    width: 100%;
    transition: 0.3s ease-in-out;
}

/*popup */

.popup {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #ffffff;
    width: 60%;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    font-size: 1.5rem;
}

button.popupMsg {
    padding: 10px 20px;
    background-color: #5fbb64;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

button.popupMsg:hover{
    padding: 10px 20px;
    background-color: #07c410;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transform: scale(1.1);
    transition: 0.3s;
}