body{
    background-size: 600px 550px;
    padding-top: 30px;
    padding-bottom: 100px;
}
.card{
    box-shadow: 3px 6px 8px 3px rgba(100, 100, 100, 0.3);
    height: 100%;
}
iframe{
    width: 100%;
    height: 350px;
    transition: 0.5s;
}
iframe:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.mapa{
    overflow: hidden;
}
h1{
    text-align: center;
    color: white;
    background-color:rgba(54, 54, 54, 0.627);
    border-radius: 50px;
    font-family: 'Asul', sans-serif;
    font-size: max(30px, 3.2vw);
    width: max(350px, 70vw);
    margin-left: auto;
    margin-right: auto;
}
h2{
    text-align: center;
    font-family: 'Asul', sans-serif;
    font-size: max(27px, 3vw);
}
textarea.form-control{
    height: 60px;
    resize: none;
}
button.btn:active{
    position: relative;
    left: 1px;
    top: 1px;
    box-shadow: 2px 5px 7px 2px rgba(87, 87, 87, 0.527);
    transition: 0.5s;
}
button.btn {
    box-shadow: 3px 6px 8px 3px rgba(100, 100, 100, 0.3);
    transition: 0.5s;
    font-family: 'Asul', sans-serif;
    margin-top: 18px;
}

li{
    margin-bottom: 15px;
    transition: 0.3s;
}
li:hover{
    transform: scale(1.1);
    margin-left: 25px;
    transition: 0.3s;
    cursor: pointer;
}
legend{
    margin-bottom: 18px;
}

form, .alert{
    margin-bottom: 0;
}
.introducao{
    color: white;
    width:max(205px, 26vw);
    background-color:rgba(54, 54, 54, 0.767);
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-top: -20px;
    font-size: max(8px, 1vw);
    
}